server.port=8081

spring.datasource.url=jdbc:mysql://localhost:3306/db_adoteja
spring.datasource.username=YOUR_DB_USER
spring.datasource.password=YOUR_DB_PASSWORD

# LocalStack S3
aws.s3.endpoint=http://localhost:4566
aws.s3.access-key=test
aws.s3.secret-key=test

# CORS
spring.web.cors.allowed-origins=http://localhost:5173

# JWT secret for dev
api.security.token.secret=YOUR_DEV_SECRET_KEY

# Swagger (enabled in dev)
springdoc.api-docs.enabled=true
springdoc.swagger-ui.enabled=true
